<app-admin></app-admin>
<div class="card bg-light border-0">
    <div class="card-body text-center"><strong>Registered User</strong></div>
</div>
<br />
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <div class="d-flex">
                    <div><img class="rounded-circle mr-3" src="assets/book.jpg" width="40px" height="40px" /></div>
                    <div class="my-auto"><span>@UserName</span></div>
                </div>
            </div>
            <div class="col-sm-6 my-auto">
                <div class="d-flex">
                    <div><span>Registerd On:</span></div>
                    <div class="ml-2"><span>Date</span></div>
                </div>
            </div>
            <div class="col-sm-2 my-auto">
                <div><a href="/muser" class="btn btn-primary">Set as Moderator</a></div>
            </div>
            <div class="col-sm-1 pl-1">
                <div><a href="/muser" class="btn btn-danger">Remove</a></div>
            </div>
        </div>
    </div>
</div>