<app-admin></app-admin>
<div class="card bg-light border-0">
    <div class="card-body text-center"><strong>Category</strong></div>
</div>
<br />
<div class="card-columns">
    <div class="card bg-primary">
        <div class="card-body text-center">
            <button type="button" class="close">&times;</button>
            <p class="card-text">Category 1</p>
        </div>
    </div>
    <div class="card bg-success">
        <div class="card-body text-center">
            <button type="button" class="close">&times;</button>
            <p class="card-text">Category 2</p>
        </div>
    </div>
    <div class="card bg-warning">
        <div class="card-body text-center">
            <button type="button" class="close">&times;</button>
            <p class="card-text">Category 3</p>
        </div>
    </div>    
</div>
<br />
<div class="row form-inline">
    <!-- <div class="col-sm-1"></div> -->
    <div class="col-sm-2"><label for="newCategoryTxt">New Category</label></div>
    <div class="col-sm-3"><input type="text" id="newCategoryTxt" value="" class="form-control" name="newCategoryTxt"/></div>
    <div class="col-sm"><input type="button" value="Add" class="btn btn-primary"/></div>
</div>