<div class="card bg-light border-0">
    <div class="card-body text-center"><strong>Register</strong></div>
</div>
<br />
<form action="/post-list">
    <div class="row">
      <div class="col-sm-3">
        <label for="email">Email ID (User name)</label>
      </div>
      <div class="col-sm-9">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-3">
        <label for="firstName">First Name</label>
      </div>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="firstName" placeholder="Enter first name" name="firstName">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-3">
        <label for="lastName">Last Name</label>
      </div>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="lastName" placeholder="Enter last name" name="lastName">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-3">
        <label for="pwd">Password</label>
      </div>
      <div class="col-sm-9">
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="pswd">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-3">
        <label for="confirmPassword">Confirm Password</label>
      </div>
      <div class="col-sm-9">
        <input type="confirmPassword" class="form-control" id="confirmPassword" placeholder="Confirm password" name="confirmPassword">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-3">
        <label for="mobileNumber">Mobile Number</label>
      </div>
      <div class="col-sm-9">
        <input type="text" class="form-control" id="mobileNumber" placeholder="Enter mobile number" name="mobileNumber">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-3">
        <label for="emailId">Email ID</label>
      </div> 
      <div class="col-sm-9">
        <input type="text" class="form-control" id="emailId" placeholder="Enter email id" name="emailId">
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-3">
        <label for="emailId">Profile Pic</label>
      </div>
      <div class="col-sm-9">
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="profilePic" name="profilePic">
          <label class="custom-file-label" for="profilePic">Choose file</label>
        </div>
      </div>
    </div>
    <br />
    <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9">
        <button type="submit" class="btn btn-primary">Register</button>
      </div>
    </div>
    <br />
  </form>