<app-post></app-post>
<div class="card bg-light border-0">
    <div class="card-body text-center"><strong>Add Post</strong></div>
</div>
<br />
<div class="row">
    <div class="col-sm-5">
        <div class="row">
            <div class="col-sm">
                <button type="button" class="btn btn-outline-primary">
                    Date <i class="fas fa-sort-up"></i>
                </button>
            </div>
            <div class="col-sm">
                <select class="custom-select">
                    <option selected>Cat 1</option>
                    <option>Cat 2</option>
                    <option>Cat 3</option>
                </select>
            </div>
        </div>
        <br />
        <div>
            <div class="card-group">
                <div class="card col-sm-8 bg-light pl-2">
                    <div>Post title 1...</div>
                    <div>Date</div>
                </div>
                <div class="card col-sm-2 bg-success">
                    <i class="pt-2 mx-auto fas fa-comment-alt"></i>
                    <span class="pt-1 mx-auto">5</span>
                </div>
                <div class="card bg-warning col-sm-2">
                    <i class="pt-2 mx-auto fas fa-thumbs-up"></i>
                    <span class="pt-1 mx-auto">15</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-7 border border-top-0 border-right-0 border-bottom-0">
        <div class="d-flex">
            <div class="col-sm-3 border" style="background-color: #e9a6ac!important;">
                12-09-2020
            </div>
            <div class="col-sm-5 border text-danger" style="background-color: #9ccca7!important;">
                #Tags1 #Tag2 #Tag3
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="clearfix">
            <div class="col-sm-8 border float-left" style="background-color: #bbcef0!important;">
                <p>
                    test.adsfasdfasdfasdfasdfasdfasdf
                    adsfasdfasdfasdfasdfasdfasdfafdasdf
                    adsfasdfasdfasdfasdfasdfasdf
                    adsfasdfasdfasdfasdfasdfasdf
                    adsfasdfasdfasdfasdfasdfasdf
                    adsfasdfasdfasdfasdfasdfasdf
                </p>
            </div>
            <div class="bg-warning border float-left p-2">
                    <i class="fas fa-thumbs-up pt-1 mx-auto"></i>
                    <br />
                    <span class="pt-1 mx-auto">5</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-6"></div>
            <div class="col-sm-5 border float-left bg-warning">
                <strong>Comment 1</strong>
                <div>Tags</div>
                <div class="d-flex">
                    <div class="pr-2">User 1</div>
                    <div>12/09/2020</div>
                </div>
            </div>
            <div class="bg-warning border float-left p-2 text-center">
                <i class="fas fa-thumbs-up pt-1 mx-auto"></i>
                <br />
                <span class="pt-1 mx-auto">10</span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-5 border float-left" style="background-color: #bbcef0!important;">
                <strong>Comment 2</strong>
                <div>Tags</div>
                <div class="d-flex">
                    <div class="pr-2">User 1</div>
                    <div>12/09/2020</div>
                </div>
            </div>
            <div class="bg-warning border float-left p-2 text-center">
                <i class="fas fa-thumbs-up pt-1"></i>
                <br />
                <span class="pt-1 mx-auto">10</span>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <br /><br />
        <form action="#">
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-2"><label for="commentId">Comment</label></div>
                <div class="col-sm-6"><input type="text" class="form-control" id="commentId" name="comment" placeholder="Enter comment here" /></div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-2"><label for="tagId">Tags1</label></div>
                <div class="col-sm-6"><input type="text" class="form-control" id="tagId" name="comment" placeholder="Enter tags here" /></div>
                
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4"></div>
                <div class="col-sm-2"></div>
                <div class="col-sm-6"><input type="button" class="btn btn-primary" id="postCommentBtn" value="Submit" /></div>
            </div>
        </form>
    </div>
</div>
<br />
<br />
<br />
<br />